
body {
  background-color: #1A2634;
  color: #F9E3A3;
}

hr {
  border-style: none;
  border-top: 8px dotted #EEC550;
  width: 20%;
}
h1 {color: #EEC550;}
h2 {color: #EEC550;}
h3 {color: #EEC550;}
a {color: white;
  text-align: center;}

  /**************************** ID STYLES ***************************/

  
